.contact-button:hover {
    text-decoration: underline;
    transform: scale(1.1);
    opacity: 0.8;
}

.contact-button {
    cursor: pointer;
    opacity: 1;
    transition: 
        transform .3s ease,
        opacity .3s ease;
}