:root {
  --colorOne: #373C37;
  --colorTwo: #82806B;
  --colorThree: #F2F2F1;
  --colorFour: #383736;
  --colorFive: #AB9E95;
  --colorSix: #E6DFDA;
  --whiteColor: #FEF9F5;

  --CrimsonPro: "Crimson Pro", serif;
  --Marcellus: "Marcellus", serif;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
