.blogHeader {
    height: 13rem;
    background-color: var(--colorTwo);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.blogHeader p{
    font-family: var(--CrimsonPro);
    color: var(--colorSix);
    font-size: 2em;
    position: absolute;
    bottom: 2em;
    left: 2em;
    white-space: pre;
}

.blogHeader h2 {
    font-family: var(--Marcellus);
    color: var(--colorSix);
    font-size: 3rem;
    font-weight: normal;
}

html, body, #root {
    height: 100%;
}

.blogSection {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    align-items: stretch;
    width: 100%; 
    height: 100vh;
    gap: 0;
}

.blogSection > * {
    flex: 1 1 0;
    min-width: 0; 
}
.secondLayout,
.thirdLayout {
    display: flex;
    flex-direction: column;
}

.container nav {
    min-width: 21.5em;
    width: 32em; 
    border-radius: 5px;
    overflow: hidden;
    padding: 1rem;
}


.container nav img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}   

.container1 p,
.container2 p,
.container3 p,
.container4 p,
.container5 p {
    max-width: 32ch;
    font-size: 1.3rem;
    text-align: left;
}

.container {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: center;
    height: 100%;
}

.container2 nav,
.container3 nav,
.container4 nav,
.container5  nav{
    height: 24.3em;
}

.container1,
.container2,
.container3,
.container4,
.container5 {
    padding: 2rem 0;
}

.inline-flex {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.container1 .innerTexts1 {
    min-height: 0;
    flex: 1 1 0;
}

strong{
    margin-right: 1em;
}


.container1 .img-box{
    height: 35.5rem;
    min-width: 25rem;
    width: 35rem;
    padding: 1rem;
    
    
}

.container1{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 72.9rem;
}

.innerTexts {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: stretch;
    max-height: 8rem;
    width: 100%;
    

}

.innerTexts1 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
}

.innerTexts1 p {
    font-size: 2rem;
}

.innerTexts1 h3 {
    font-size: 2.5rem;
}